body { background-color:#FFFFFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:10pt; 
}
 
table { 
    border:1px solid 757575;
    margin-left:30px;
}
tr:nth-child(even) {background: #ececec}
tr:nth-child(odd) {background: #FFFFFF}

th { 
    color:#FFFFFF;
    background: #039BE5;
    font-size: 10pt;
}
td {
    text-align: center;
}
p{
    color: #212121;
    font-weight: 600;
    font-variant: small-caps;
}

h1{
    color:#e53935;
}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#6D7B8D;
}
h5{
    color:#757575;
}
.GoodStatus {
    color: #43A047;
}
.WrongStatus {
    color: #FFFFFF;
    background-color: #e53935;
}