# This is a basic workflow to help you get started with Actions

name: BetaCompiler

# Controls when the workflow will run
on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - 'beta'
    paths:
      - az.avd/**

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@v2.4.0
      with:
        # Repository name with owner. For example, actions/checkout
        repository: ''
        path: 'drop'
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.3.1
      with:
        # Artifact name
        name: azModule
        path: drop
    - name: github env check
      shell: pwsh
      run: |
          dir env:
  test:
    uses: ./.github/workflows/code.tester.yml
  testAvd:
    uses: ./.github/workflows/deploy.avd.env.yml
    secrets:
      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      TENANT_ID: ${{ secrets.TENANT_ID }}
      SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
  release:
    needs:
      - test
      - testAvd
    uses: ./.github/workflows/release.yml